* {
  padding: 0;
  margin: 0;
}


.top-section {
  background-image: url(../images/toppic.jpg);
  background-size: cover;
  color: white;
  font-family: 'Righteous' serif;
  min-height: 100vh;
  font-size: 50px;
}

.yellow {
  color: yellow;
}
